@import url(https://fonts.googleapis.com/css?family=Nova+Slim);
html, body {
  font-family: Roboto, sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
}

#headerBar {
  text-align: center;
  background-color: #3F51B5;
  color: white;
  padding-top: 1.5vh;
  margin: 0;
  height: 5vh;
  font-size: 2em;
}

#dataEntry {
  height: 100vh;
  width: 50vw;
  float: left;
}

#dataEntry paper-card {
  height: 100%;
  width: 100%;
  text-align: center;
}

#dataEntry paper-input {
  width: 25vw;
  padding-left: 12vw;
  padding-right: 3vw;
  padding-bottom: 2vh;
}

#dataDisplay ul {
  text-decoration: none;
}

#stats {
  display: table;
  postition: absolute;
  bottom: 0;
  margin-left: 50vw;
}

.stats paper-card {
  height: 10vh;
  width: 25vw;
  text-align: center;
  display: table-cell;
}

paper-button {
  background-color: #3F51B5;
  color: white;
}
