@import url(https://fonts.googleapis.com/css?family=Nova+Slim);
html, body {
  font-family: Roboto, sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
}

#headerBar {
  text-align: center;
  background-color: #3F51B5;
  color: white;
  padding-top: 3vh;
  margin: 0;
  height: 10vh;
  font-size: 3em;
}

#dataEntry paper-card {
  height: 100vh;
  width: 44vw;
}

#dataEntry paper-input {
  width: 15vw;
  padding-left: 12vw;
  padding-right: 3vw;
  padding-bottom: 2vh;
}
