@import url(https://fonts.googleapis.com/css?family=Nova+Slim);
html, body {
  font-family: Nova Slim, cursive;
  padding: 0;
  margin: 0;
}

#headerBar {
  text-align: center;
  background-color: #3F51B5;
  color: white;
  padding: 0;
  margin: 0;
  height: 5vh;
}
