@import url(https://fonts.googleapis.com/css?family=Nova+Slim);

$font-book: Nova Slim, cursive;
$prim-color: #3F51B5;

html, body
	font-family: $font-book
	padding: 0
	margin: 0
	
#headerBar
	text-align: center
	background-color: $prim-color
	color: white
	padding: 0
	margin: 0
	height: 5vh
	